<article>
  <h1>Write a new Article</h1>

  <form action="/article/create" method="post">
    <div>
      <label for="title">Title:</label>
      <input name="title" type="text"/>
    </div>
    <div>
      <label for="content">Content:</label>
      <textarea name="content"></textarea>
    </div>
    <input type="submit"/>
  </form>

  <p><a href="/">Home</a></p>
</article>